{% extends 'base.html.twig' %}

{% block title %}Votre profile -
{% endblock %}

{% block javascript %}
	<script src="{{asset('js/notifications.js')}}" type="text/javascript"></script>
	<script src="{{asset('js/uploadImage.js')}}" type="text/javascript"></script>
	{% block importmap %}
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}

{% block body %}
	{% if app.user.image %}
		<img class="rounded-full w-32 h-32 mx-auto mt-8" src="{{ asset('images/' ~ app.user.image) }}" alt="User profile picture">
	{% else %}
		<img class="rounded-full w-32 h-32 mx-auto mt-8" src="{{ asset('images/man-user-color-icon.svg') }}" alt="User profile picture">

	{% endif %}
	<form id="profile-img-form" class="flex justify-center mb-8" action="{{path('app_profile_img')}}" method="post" enctype="multipart/form-data" onsubmit="return false;">
		<button id="upload-btn" class="text-blue-400 font-semibold hover:text-blue-300">
			Modifier
		</button>
		<input id="file" type="file" class="hidden" name="file" accept=" image/*">
	</form>

	<article class="grid grid-cols-3 w-3/4 m-auto">
		<section>
			<h2 class="text-center font-semibold text-2xl">Vos réservations validées</h2>
			{% for item in userReservation %}
				{% if currentDate < item.dateReservation %}
					{% if item.isValidated == "validated" %}
						<p>{{item.room.name}}</p>
						<p>Le
							{{item.dateReservation|date('d-m-Y')}}</p>
						<p>De
							{{item.start}}h à
							{{item.endReservation}}h</p>
					{% endif %}
				{% endif %}
			{% endfor %}
		</section>
		<section>
			<h2 class="text-center font-semibold text-2xl">Vos réservations en attentes</h2>
			{% for item in userReservation %}
				{% if currentDate < item.dateReservation %}
					{% if item.isValidated == "pending" %}
						<p>{{item.room.name}}</p>
						<p>Le
							{{item.dateReservation|date('d-m-Y')}}</p>
						<p>De
							{{item.start}}h à
							{{item.endReservation}}h</p>
					{% endif %}
				{% endif %}
			{% endfor %}
		</section>
		<section>
			<h2 class="text-center font-semibold text-2xl">Vos réservations en refusées</h2>
			{% for item in userReservation %}
				{% if currentDate < item.dateReservation %}
					{% if item.isValidated == "refused" %}
						<p>{{item.room.name}}</p>
						<p>Le
							{{item.dateReservation|date('d-m-Y')}}</p>
						<p>De
							{{item.start}}h à
							{{item.endReservation}}h</p>
					{% endif %}
				{% endif %}
			{% endfor %}
		</section>
	</article>
	<article>
		<h2 class="text-center font-semibold text-2xl">Vos précédentes réservations</h2>
		<section class="grid grid-cols-5">
			{% for item in userReservation %}
				<div>
					{% if currentDate > item.dateReservation %}
						<p>{{item.room.name}}</p>
						<p>Statut :
							{{item.isValidated}}</p>
						<p>Le
							{{item.dateReservation|date('d-m-Y')}}</p>
						<p>De
							{{item.start}}h à
							{{item.endReservation}}h</p>
					{% endif %}
				</div>
			{% endfor %}
		</section>
	</article>
{% endblock %}
