{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>
	{% if app.user %}
		<h2>Vous êtes déjà authentifié</h2>
		<h3>{{ app.user.username }}
			<br>
			Would you like to</h3>
		<a href="{{ path('app_logout') }}">Logout ?</a>
	{% else %}
		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.username) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn">Register</button>
		{{ form_end(registrationForm) }}
	{% endif %}
{% endblock %}
