{% extends 'base.html.twig' %}

{% block title %}Réservation -
{% endblock %}

{% block javascript %}
	<script src="{{asset('js/notifications.js')}}" type="text/javascript"></script>
	<script src="{{asset('js/reservationForm.js')}}" type="text/javascript"></script>
	{% block importmap %}
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}

{% block body %}
	<h1>Vous souhaitez réservé notre
		{{room.name|replace({(room.name|capitalize|first): (room.name|first|lower)})}}?</h1>
	{{form(formReservation)}}{% endblock %}
