{% extends 'base.html.twig' %}

{% block title %}Liste des salles - 
{% endblock %}

{% block body %}

	<div
		class="container px-4 py-8 mx-auto">
		{# Formulaire de recherche et filtres #}
		<form action="" method="GET" class="p-6 mb-8 bg-white rounded-lg shadow-md">
			<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
				<div>
					<label for="capacity" class="block mb-2">Capacité minimale</label>
					<input type="number" id="capacity" name="capacity" min="1" value="{{ app.request.query.get('capacity') }}" class="w-full px-3 py-2 border rounded">
				</div>
				<div>
					<label for="equipment" class="block mb-2">Équipements</label>
					<select id="equipment" name="equipment[]" multiple class="w-full px-3 py-2 border rounded">
						{% for equipment in equipments %}
							<option value="{{ equipment.id }}" {% if equipment.id in app.request.query.all('equipment') %} selected {% endif %}>
								{{ equipment.name }}
							</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<label for="ergonomics" class="block mb-2">Critères ergonomiques</label>
					<select id="ergonomics" name="ergonomics[]" multiple class="w-full px-3 py-2 border rounded">
						{% for ergonomic in ergonomics %}
							<option value="{{ ergonomic.id }}" {% if ergonomic.id in app.request.query.all('ergonomics') %} selected {% endif %}>
								{{ ergonomic.name }}
							</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<button type="submit" class="px-4 py-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-600">Rechercher</button>
		</form>


		<div class="container px-4 py-8 mx-auto">
			<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
				{% for room in rooms %}
					<div class="overflow-hidden bg-white rounded-lg shadow-md">
						<a href="{{ path('app_room_show', {'id': room.id}) }}">
							<img src="{{ asset('images/' ~ room.image) }}" alt="{{ room.name }}" class="object-cover w-full h-48">
							<div class="p-4">
								<h2 class="mb-2 text-xl font-semibold">{{ room.name }}</h2>
								<p class="mb-2 text-gray-600">Capacité:
									{{ room.capacity }}
									personnes</p>
								<p class="mb-2 text-gray-600">Étage:
									{{ room.floor }}</p>
								<p class="mb-2 text-gray-600">Numéro de porte:
									{{ room.doorNumber }}</p>
								<p class="mb-2 text-gray-600">
									{% if room.Backup %}
										<span class="text-green-600">Salle de secours</span>
									{% else %}
										<span class="text-blue-600">Salle principale</span>
									{% endif %}
								</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
